.header {
  min-height: 100vh;

  background-color: #0F0F0F;

  &__inner {
    display: flex;
  }

  &__sidebar {
    padding: 30px 40px 0;
  }



  &__social {
    position: relative;

    display: flex;
    margin-top: 330px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::before {
      content: '';

      position: absolute;
      top: 180px;

      width: 1px;
      height: 155px;

      background-color: #fff;
    }

    &::after {
      content: '';

      position: absolute;
      bottom: 180px;

      width: 1px;
      height: 155px;

      background-color: #fff;
    }
  }

  &__social-link {
    width: 36px;
    height: 38px;

    &+& {
      margin-top: 21px;
    }
  }

  &__box {
    position: relative;

    width: 100%;
  }

  &__top {
    padding: 385px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;

    height: 100vh;
    width: 575px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    padding-right: 70px;

    background: rgba(47, 47, 47, .7);
  }

  &__title {
    margin-bottom: 10px;

    font-size: 50px;
    line-height: 1.17;
    letter-spacing: 2.75px;
    color: #fff;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 15px;

    font-size: 25px;
    color: #fff;
  }

  &__btn {
    width: 180px;
    margin-right: 20px;

    transition: background-color 0.3s;

    &:hover {
      background-color: $accent;
    }
  }
}