.menu {
  display: flex;
  
  font-size: 23px;

  ul.menu__list {
    display: flex;
    margin-left: auto;
  }

  &__item {
    &+& {
      margin-left: 44px;
    }
  }

  &__link {
    color: #fff;

    @extend %link-actions;

    &--active {
      font-weight: 700;
    }
  }

  &--header {
    padding: 47px 30px;
    margin-left: auto;
  }

  &--footer {
    font-size: 18px;
    font-weight: 400;

    .menu__item+.menu__item {
      margin-left: 25px;
    }
  }
}